body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"] {
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: turquoise;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.popup {
    width: 30vw;
    height: 30vh;
    display: none;
    position: fixed;
    border: 3px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: grey;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
